<div class="card">
    <div class="card-body">
        <h2 class="card-title">
            <p class="card-text text-center">Transacciones</p>            
        </h2>
        
        <div class="table-responsive">
            <table class="table table-hover">
                <tbody>
                    <tr *ngFor="let transaction of transactions">
                                <td>
                                    <p><b>{{transaction.description}}</b></p>
                                    <p>{{transaction.account}}</p>
                                </td>
                                <td>
                                    <p [ngStyle]= "{'color':(transaction.amount > 0 ? 'green': 'red')}"><b>{{ transaction.amount }}</b></p>
                                    <p>{{transaction.transactionDate | date: 'dd/MM/yyyy'}}</p>
                                </td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>