<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <th>Id</th>
            <th>Contenido</th>
            <th>Fecha</th>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts" (click)="selectPost(post);">
                <td>{{post.postId}}</td>
                <td>{{post.content}}</td>
                <td>{{post.date}}</td>
            </tr>
        </tbody>
    </table>
</div>

<br>

<app-post [postId]="selectedPost"></app-post>