<div class="card">
    <div class="card-body">
        <h2 class="card-title">            
            <p class="card-text text-center">Resumen</p>   
        </h2>
        <div class="card-text">
            <p [ngStyle] = "{'color' : 'green'}" class="text-center">
                Income:  {{resume.income |  currency:'USD' }}
             </p>
            <p [ngStyle] = "{'color' : 'red'}" class="text-center">
                Expenses:  {{resume.expenses|  currency:'USD' }}
            </p>
            <hr/>
            <p [ngStyle] = "{'color' : 'green'}" class="text-center">
                Total:  {{resume.total|  currency:'USD' }}
            </p>
        </div>
    </div>
</div>